<p>
  Hello,
  <br />
  <br />
  Thank you for booking <%= @course.name %>.
  <br />
  <br />
  <b>Booking Reference: </b><%= "#{@course.name[0,3].upcase}#{@booking.id.to_s.rjust(4, '0')}" %>
  <br />
  <br />
  Here are some further details:
  <br />
  Location: Alderhill Digital, 1 Hillman's Court, Ballycastle Road, Coleraine, BT52 2DF
  <br />
  Date: <%= @course_date.begins_at.try(:strftime,"%A %e %b %Y") %>
  <br />
  Time: <%= @course_date.begins_at.try(:strftime,"%l:%M%P") %>
  <br />
  <br />
  For parents who wish to stay, there will be free tea, coffee and wifi in the communal area. For parents who wish to leave their children they will be required to leave their name and contact details when dropping off their child.
  <br />
  <br />
  If you have any questions please get in touch.
  <br />
  Tel: 02870400955
  <br />
  Email: info@alderhilldigital.co.uk
</p>
