<div class="container">
  <%= form_tag do %>
    <label for="username">Username</label>
    <br />
    <%= text_field_tag :username %>
    <br />
    <br />
    <label for="password">Password</label>
    <br />
    <%= password_field_tag :password %>
    <br />
    <%= submit_tag "Login" %>
  <% end %>
</div>
