<div class="container">
  <%= simple_form_for @course_date, :url => admin_course_course_date_path(@course,@course_date) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
