<% content_for :meta_description do %>
Find out about us.
<% end %>
<section class="news-box top-margin">
  	<div class="container">
  		<h2><span>About Alderhill Digital</span></h2>
      <div class='col-md-12'>
        <p>
          Alderhill Digital is a training centre for digital technologies with a keen focus on programming and development.
          Opened in 2016 the centre quickly established itself and is now approved to deliver vocational qualifications by Innovate Awarding.
          Vocational qualifications allow learners to aquire industry specific skills by providing hands-on training.
          The digital skills sector is a growing one and Alderhill Digital aim to assist anyone to learn and improve.
        </p>
      </div>
      <div class='col-md-12'>
        <%= image_tag "training-room-pano-3.jpg" %>
      </div>

    </div>
  </section>
  <section class="news-box top-margin">
    <div class="container">
      <h2>Why Alderhill Digital?</h2>
      <div class='col-sm-6 col-xs-12'>
        <p>
          Alderhill Digital has close relationships with local companies in the digital sector.
          This helps us to keep our courses relevant with content that includes up-to-date technologies and programming languages.
          Our short courses incorporate the most recent platforms and development frameworks.
          We strive to stay ahead of the curve and help our learners to do the same.
        </p>
        <p>
          Confidence and motivation are also highly important when pursuing a career in the digital sector.
          We desire to build up our learners not just know what to do but help them to be better.
        </p>
      </div>
      <div class='col-sm-6 col-xs-12'>
        <%= image_tag "training-4.jpg" %>
      </div>
    </div>
  </section>
  <section class="news-box top-margin">
    <div class="container">
      <h2>Awarding Body - Innovate Awarding</h2>
      <p>
        Innovate Awarding is a national Awarding Organisation regulated by Ofqual and Qualifications Wales, with a passion for doing things differently.
        Their five year strategy includes embracing the technological changes in the way society works and the impact this should have on the learning experience.
        They are working with training providers and their learners to harness these powerful tools and revolutionise the way in which regulated qualifications are delivered and assessed.
      </p>
      <p>
        For more information on Innovate Awarding you can visit their website by
        <a href="http://www.innovateawarding.org">Clicking Here</a>.
        <br />
        <%= image_tag "innovate-awarding.png" %>
      </p>
    </div>
  </section>
