<div class="container">
  <a href="/courses"> << Back to courses </a>
  <div class="row">
    <div class="col-md-8">
      <h2>Building a Website</h2>
      <p>
        This course covers the essential skills required to understand how to create and maintain a website.
        HTML and CSS are the main languages used in developing web pages.
        This course uses these languages and other tools to create web pages with text, images, links, audio and much more.
        By the end of this course you will have fully function web site available online that you can add to and update when you want.
      </p>
      <h2>Application</h2>
      <p>
        There are no pre-requisites to applying for the course but a sufficient level of English and Maths is required to participate.
        <br />
        <strong>
          <a href="https://www.eventbrite.co.uk/e/building-a-website-tickets-32056562040" >Current course available</a>
        </strong>
      </p>
      <h2>Weekly Content Guide</h2>
      <p>
        <table class='schedule'>
          <tr>
            <th>Week 1</th>
            <td>
              <ul>
                <li>Introduction to web pages</li>
                <li>HTML5</li>
                <li>HTML5 APIs</li>
                <li>Your first web site</li>
                <li>Testing a web page</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Week 2</th>
            <td>
              <ul>
                <li>Introduction to stylesheets</li>
                <li>CSS3</li>
                <li>CSS design and layout</li>
                <li>Design frameworks (Bootstrap)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Week 3</th>
            <td>
              <ul>
                <li>HTML and CSS Fast and Right</li>
                <li>Validation</li>
                <li>Using templates</li>
                <li>Good practices</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Week 4</th>
            <td>
              <ul>
                <li>Web site platforms and frameworks</li>
                <li>Introduction to Wordpress</li>
                <li>Introduction to Squarespace</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Week 5</th>
            <td>
              <ul>
                <li>Managing a website project</li>
                <li>Hosting a website</li>
                <li>Deploying a website</li>
                <li>Managing domain names</li>
              </ul>
            </td>
          </tr>
        </table>
      </p>

    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
