<div class="container">
  <a href="/courses"> << Back to courses </a>
  <div class="row">
    <div class="col-md-8">
      <h2>Building a Website</h2>
      <p>
        This course covers the essential skills required to understand how to create and maintain a website.
        HTML and CSS are the main languages used in developing web pages.
        This course uses these languages and other tools to create web pages with text, images, links, audio and much more.
        By the end of this course you will have fully function web site available online that you can add to and update when you want.
      </p>
      <h2>Application</h2>
      <p>
        There are no pre-requisites to applying for the course but a sufficient level of English and Maths is required to participate.
      </p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
