<% content_for :meta_description do %>
Courses - Level 2 Principles of Digital Marketing Platforms (QCF)
<% end %>
<div class="container">
  <a href="/courses"> << Back to courses </a>
  <div class="row">
    <div class="col-md-8">
      <h2>Level 2 Award in Principles of Digital Marketing Platforms (QCF) </h2>
      <p>
        This qualification is designed to support and help develop the knowledge of learners who may be professionals, starting up their own business or working for others in the use of digital marketing platforms.
        The learning covers the understanding required to use the correct platforms for the purpose of the marketing activity and the benefits of the different platforms used to help increase opportunities and marketing.
      </p>
      <h2>Application</h2>
      <p>
        There are no pre-requisites to applying for the course but a sufficient level of English and Maths is required to participate.
      </p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
