<% content_for :meta_description do %>
Courses - Getting started with linux
<% end %>
<div class="container">
  <a href="/courses"> << Back to courses </a>
  <div class="row">
    <div class="col-md-8">
      <h2>Getting Started with Linux</h2>
      <p>
        This course is designed to give you a start in using open source software to programme and develop projects for use in real systems and processes.
        If you want to develop software or systems using open source software then you will probably have to use linux at some point.
        Getting to know the basics of linux and the software that is available on the linux operating system will give you the tools and knowledge you need to continue developing in an open source environment.
      </p>
      <h2>Application</h2>
      <p>
        There are no pre-requisites to applying for the course but a sufficient level of English and Maths is required to participate.
      </p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
