<section class="news-box top-margin">
    <div class="container">
      <h2> Qualifications </h2>
      <ul class="list-group courses">
        <li class="list-group-item">
          <a href="courses/web-design-and-development"> Level 3 Certificate in Web Design and Development (RQF) </a>
					<%= image_tag "fulltime.png", :alt => "full time" %>
					<%= image_tag "parttime.png", :alt => "part time" %>
        </li>
      </ul>
    </div>
  </section>
  <section class="news-box top-margin">
    <div class="container">
      <h2> Courses </h2>
      <ul class="list-group courses">
				<li class="list-group-item">
          <a href="courses/building-a-website"> Building a website </a>
					<%= image_tag "parttime.png", :alt => "part time" %>
        </li>
        <li class="list-group-item">
          <a href="courses/getting-started-with-linux"> Getting Started with Linux </a>
					<%= image_tag "parttime.png", :alt => "part time" %>
        </li>
      </ul>
    </div>
  </section>
