<div class="container">
  <a href="/courses"> << Back to courses </a>
  <div class="row">
    <div class="col-md-8">
      <h2>Web Design and Development</h2>
      <p>
        This qualification is designed to instruct how to manage a project that requires the creation of a website and provide the essential skills, knowledge and understanding to work on web development projects.
        From understanding a web browser and how the internet works to programming on a server to build functinal web applications.
        It also covers aspects such as web technologies, JavaScript, HTML, internet security and Cascading Style Sheets.
        It gives the learner an understanding of the jobs available and the work requirements of a web designer or developer.
        Participants may undergo assessment and have the opportunity to receive a Level 3 Certificate (RQF), which is an industry regulated qualification.
      </p>
      <h2>Application</h2>
      <p>
        There are no pre-requisites to applying for the course but an initial interview will be conducted to assess basic compitence in mathematics and english as well as general apptitude.
      </p>
      <h2>Progression</h2>
      <p>
        Progression could be to job roles or other ICT practitioner qualifications, the job roles could include web design engineer, web developer or webmaster, software developer.
      </p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
